<header>
  <nav>
    <a href="/">Home</a>
    <% if (user) { %>
    <span>Hello, <strong><%= user.name %></strong></span>
    <form
      action="/logout"
      method="POST"
      style="display: inline-block; margin-left: 12px"
    >
      <button type="submit">Logout</button>
    </form>
    <% } else { %>
    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
    <% } %>
  </nav>
</header>
